.field_with_errors input{
  border-color: red;
  background-color: #f7d0d0;
}

.field_with_errors textarea{
  border-color: red;
  background-color: #f7d0d0;
}

div.error_explanation {
  color: #940b0b;
}

input[type=text], select, textarea {
width: 95%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 5px;
  width: 60%;
}
.footer{
  text-decoration-color: #ccc;
  font-size: 9px;
}
.header{
  text-align: center;
}
.card-text-prev{
  line-height: 1.5em;
  height: 1.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 90%;
}
.sign_in{
  padding: 5px;
}
